# stm32f427iih6_jlink.cfg
# 适用于 STM32F427IIH6 + J-Link 调试器

# 1. 选择调试器
source [find interface/jlink.cfg]

# 2. 选择 SWD 接口（J-Link 专用语法）
transport select jlink swd
# 若想用 JTAG，把上一行改成：
# transport select jlink jtag

# 3. 芯片级配置（同 ST-Link 版）
set CHIPNAME STM32F427IIH6
set CPUTAPID 0x2BA01477          ; Cortex-M4 r0p1

# 4. 引入官方 F4x 序列脚本
source [find target/stm32f4x.cfg]

# 5. 覆盖 Flash 容量为 2 MB
flash bank $_CHIPNAME.stm32f4x stm32f2x 0x08000000 0x200000 0 0 $_TARGETNAME

# 6. 下载后自动复位运行
reset_config srst_only srst_nogate
adapter speed 4000

# 7. 添加RTT终端串口调试
rtt setup 0x2000c908 0x1000 "SEGGER RTT"

rtt start

rtt server start 9999 0

init

